.footer {
  display: grid;
  height: 200px;
  width: 100%;
  font-size: 1.25rem;
  grid-template-columns: 72% 28%;
  color: white;
}

.footerLeft {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-left: 13%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: #463056;
}
.footerRight {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 0.2rem;
  background-color: #2e2137;
}
.footerLinks {
  display: grid;
  margin-top: 1.5rem;
  grid-gap: 0.2rem;
  padding-left: 5%;
  font-weight: 300;
}
.footerLogoLink {
  text-align: center;
}
.footerLogoLink:hover {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}
/* footerlinks hover lighten */
.footerLink:hover {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}
.footerLogoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footerLogo {
  width: 50%;
  filter: invert(1) saturate(0) brightness(1.5);
}
.footerSocial {
  font-size: larger;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    font-size: 0.75rem;
  }
  .footerLeft {
    grid-template-columns: 1fr 1fr;
    padding-left: 8%;
  }
  .footerRight {
    grid-template-columns: 1fr;
    padding-bottom: 5%;
  }
}
