.hero {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 100%;
  color: white;
  background-color: #463056;
}
.heroContent {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}
.navbarLinks {
  display: flex;
  justify-content: space-around;
  gap: 15%;
  align-items: center;
}
.welcome {
  color: #d90368;
  font-weight: 300;
}
.heading {
  font-size: 4em;
}
.navbarLink {
  font-size: 1.5rem;
}
.navbarButton {
  background-color: #d90368;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  border-color: #d90368;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem;
  font-size: 1rem;
}
.navbarButton:hover {
  opacity: 0.8;
  transition: opacity 0.25s ease-in-out;
}
.hamburgerMenu {
  display: none;
}

/* navlinks hover lighten */
.navbarLink:hover {
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}

.logo {
  width: 10em;
  filter: invert() sepia(1) saturate(1.5) hue-rotate(180deg) brightness(1.5)
    contrast(1.5);
}

.content {
  display: flex;
  align-items: center;
}
/* mobile responsive media query
hamburger menu */
@media only screen and (max-width: 768px) {
  .heroContent {
    grid-template-columns: 1fr;
    font-size: 0.75rem;
  }

  .navbarLinks {
    display: none;
  }

  .navbarButton {
    display: none;
  }
  .hamburgerMenuItems {
    display: none;
  }
  .hamburgerMenuButton {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    font-size: 2rem;
  }
}
