.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.title {
  font-size: 2rem;
  font-weight: 400;
  color: #463056;
  align-self: flex-start;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 2%;
}
.middleContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.middleContentText {
  padding: 5%;
}
@media screen and (max-width: 940px) {
  .middleContent {
    flex-direction: column;
  }
  .middleContentImage {
    font-size: 0.75rem;
  }
}
